# --- Backend (Litera_Backend) ---
Litera_Backend/.env
Litera_Backend/vendor/
Litera_Backend/storage/*.key
Litera_Backend/public/storage
Litera_Backend/bootstrap/cache/*
Litera_Backend/.phpunit.result.cache

# --- Frontend (Litera_Frontend) ---
Litera_Frontend/node_modules/
Litera_Frontend/dist/
Litera_Frontend/.env
Litera_Frontend/.env.local

# --- Umum ---
.DS_Store
.vscode/
.idea/